*, body, html {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #dfdce3;
    text-align: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    background-color: #f7b733;
    border-radius: 50%;
    margin: 15vh auto;
    border: 20px solid #f78733;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateY(-3px)
}

.hand {
    background-color: #4abdac;
    width: 50%;
    position: absolute;
    height: 6px;
    top: 50%;
    transform: rotate(90deg);
    transform-origin: right bottom;
    transition: all 0.5s;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
}